@model List<GestorPacientes.Core.Application.ViewModels.Patient.PatientViewModel>

<div class="container">
    <h2>Patient Maintenance</h2>
    <a asp-action="Create" class="btn btn-primary">Create New Patient</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Identity Number</th>
                <th>DateOfBirth</th>
                <th>IsSmoker</th>
                <th>Allergiesr</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model)
            {
                <tr>
                    <td>@patient.FirstName</td>
                    <td>@patient.LastName</td>
                    <td>@patient.Phone</td>
                    <td>@patient.Address</td>
                    <td>@patient.IdentityNumber</td>
                    <td>@patient.DateOfBirth</td>
                    <td>@patient.IsSmoker</td>
                    <td>@patient.Allergies</td>
                    <td>@patient.Photo</td>
                    <td>Actions</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@patient.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@patient.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
